<section class="jumbotron text-center col-md-12">
  <div class="container">
    <h1 class="jumbotron-heading">Bem-vindo ao Sell Things</h1>
    <p class="lead text-muted">Encontre o que você procura!</p>
  </div>
</section>
